SECRET_KEY=cjx9kd@wz113=$uq1gl84p28-g*sygrw5b+colbem%8)=a*div
DEBUG=True
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=mydb
DB_USER=myuser
DB_PASSWORD=securepass
DB_HOST=localhost
DB_PORT=5432
