{% extends 'base.html' %}
<!-- breadcrumbs -->
{% block breadcrumb %}
<li class="breadcrumb-item">Cambiar contraseña</li>
{% endblock breadcrumb %}
<!-- main content -->
{% block content %}
<style>
    .small{
        font-size: 0.8em;
    }
</style>
<h2>Cambiar | <small class="text-muted">Cambio de contraseña</small></h2>
<hr>
<form method="post">{% csrf_token %}
    {{ form }}
    <br>

    <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Cambiar</button>
</form>

<script>
    $("input").addClass("form-control");
    $(".errorlist").addClass("text-danger small");
    $(".helptext").addClass("text-info small");
</script>
{% endblock content %}
