{% extends 'base.html' %}
<!-- breadcrumbs -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'registry:receipt_list' %}">Registros</a></li>
<li class="breadcrumb-item">{{title}}</li>
{% endblock breadcrumb %}
<!-- main content -->
{% block content %}
<h1>{{opts.verbose_name}} | <small class="text-muted">Nro: {{title}}</small></h1>

<div class="row">
    <div class="col-md-9">
        <small>DNI/RUC:</small>
        <p>{{object.client.cedule}}</p>
        <small>Contribuyente:</small>
        <p>
            {% if object.client.last_name %}
            <strong>{{object.client.last_name|upper}}</strong> {% endif %} {{object.client.first_name}}
        </p>
    </div>
    <div class="col-md-3">
        <small>Fecha:</small>
        <p>{{object.date | date:'d/m/Y'}}</p>
        <small>Total:</small>
        <p><strong>S/. {{object.total}}</strong></p>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 1em;">#</th>
                <th scope="col">Servicios</th>
                <th scope="col">Costo</th>
            </tr>
        </thead>
        <tbody>
            {% for d in object.details.all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{d.service.code}} {{d.service.description}}</td>
                <td>{{d.cost}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-sm js-confirm" data-action="{% url 'registry:receipt_delete' object.pk %}" data-message="Estás seguro de eliminar este registro?. Toda información relacionada a este será eliminada">
    <i class="fa fa-ban" aria-hidden="true"></i> Eliminar comprobante
</button>

<a class="btn btn-outline-info" href="{% url 'registry:my_report' object.pk %}">Descargar pdf</a>

<!-- confirm-dialog -->
{% include 'partial/confirm-dialog.html' %}
<!-- endblock content -->
{% endblock content %}