{% extends 'base.html' %} {% block container %}

<ul class="list-inline breadcrumb">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="{% url 'car:car_list' %}">Carros</a></li>
    <li><a href="{% url 'car:car_detail' object.pk %}">{{object.license_plate}} {{object.brand}} {{object.model}}</a></li>
    <li>Editar Carro </li>
</ul>

<h1>Editar | <small class="text-muted">Carro {{object.license_plate}} {{object.brand}} {{object.model}}</small></h1>
<style>
    .mb-1 {
        margin-bottom: .5em;
    }
    
    .pt-2 {
        padding-top: 1em;
    }
    
    .errorlist {
        color: red;
    }
</style>

<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" novalidate>
            {% csrf_token %} {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% for hidden_field in form.hidden_fields %} {% if hidden_field.errors %}
            <ul>
                {% for error in hidden_field.errors %}
                <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %} {{ hidden_field }} {% endfor %}

            <div class="row mb-1">
                <div class="col-md-6">
                    {{form.license_plate.label_tag}} {{form.license_plate.errors}} {{form.license_plate}}
                </div>
                <div class="col-md-6">
                    {{form.year.label_tag}} {{form.year.errors}} {{form.year}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                          {{form.is_for_recover}}
                          {{form.is_for_recover.label_tag}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          {{form.is_recovered}}
                          {{form.is_recovered.label_tag}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          {{form.is_in_maintenance}}
                          {{form.is_in_maintenance.label_tag}}
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                          {{form.is_parked}}
                          {{form.is_parked.label_tag}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          {{form.is_in_other_status}}
                          {{form.is_in_other_status.label_tag}}
                        </label>
                    </div>
                </div>
            </div>

            <div>
                {{form.status_observation.label_tag}} {{form.status_observation}}
            </div>
            <div>
                {{form.soat_file.label_tag}} {{form.soat_file}}
            </div>
            <div>
                {{form.secure_file.label_tag}} {{form.secure_file}}
            </div>

            <div class="text-right pt-2">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-send" aria-hidden="true"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock container %}